extends ../layout

block content
    a(href="/bicicletas/create") Nueva bicicleta
    table.table
        tr
            th #
            th Color
            th Modelo 
            th Ubicacion
            th
            th
        tbody
            each bici in bicis 
                tr
                    td= bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href="/bicicletas/"+bici.id+"/update") Editar
                    td
                        form.inline(action="bicicletas/"+ bici.id + "/delete" method="post")
                            input(type="hidden" name="id" value=bici.id)
                            button.link-button(type="submit" name="submit_param" vaue="submit_value", class="btn ")= 'Eliminar'
